#homepage {
  background-color: #3498db;

  #landing {
    margin: 0 auto;
    margin-top: 5em;
    width: 20em;
    
    h5 {
      color: #ddd;
    }

    .login-form {
      background-color: #ecf0f1;
      border-radius: 8px;
      padding: 20px;
      position: relative;

      .form-group {
        margin-bottom: 20px;
        position: relative;

        .login-field:not(:focus) {
          border-color: transparent;
        }

        .login-field-icon {
          color: #bdc3c7;
          font-size: 16px;
          position: absolute;
          right: 15px;
          top: 3px;
          transition: all 0.25s ease 0s;
        }
      }

      .login-link {
        color: #bdc3c7;
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}
