* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

#chat {
    position: absolute;
    top: 0em;
    left: 0em;
    right: -1em;
    bottom: 5em;
    margin: 1em;
    overflow-y: scroll;
}

#modal {
  position: fixed;
  left: 40%;
  top: 25%;
  height: auto;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  background-color: #3498db;
  visibility: hidden;
}

ul {
    float: left;
    display: inline-block;
    overflow: auto;
    width: 85%;
    padding-left:0px;
    list-style-type: none;
    li {
        width: 100%;
        float: left;
        text-overflow: ellipsis;
        max-height:26px;
        white-space: nowrap;
        overflow: hidden;
    }
    li#user {
        color: #3498DB;
        font-weight: bold;
        margin-bottom:15px;
    }

    .message {
    }

    .event {
        font-style: italic;
        color: #95a5a6;
    }
}

.sidebar {
  #logout > a {
    color: #c0392b;
    &:hover {
      color: #e74c3c;
    }
  }

  &.pull-left {
    position:fixed;
    width: 20%;

    a {
      color: #95a5a6;
    }
  }
  &.pull-right {
    position:fixed;
    right: 0%;
    width: 25%;

    text-align: right;
  }
}

#conversation {
  position: absolute;
  left: 20%;
  width: 60%;
}

textarea {
  position: fixed;
  width: 95%;
  height: 1.875em;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1em solid lightgray;
  margin: 0em 1em 1em 1em;
  padding: 0.5em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  outline: none;
  resize: none;
}

#current-password, #new-password, #change-password-button {
  width: 96%;
  margin: 2%;
}
